<h1>Listing chinese_words</h1>

<%= render :partial => "chinese_words/word_table", :locals =>{:chinese_words => @chinese_words, :word_lists => @word_lists} %>


<br />

<%= link_to 'New chinese_word', new_chinese_word_path %>
