<h1>Search Dictionary</h1>

<% form_tag do %>
  <p>
    <%= label_tag :q, "Search for" %><br />
    <%= text_field_tag :q %>
  </p>
  <p>
    <%= submit_tag 'Search' %>
  </p>
<% end %>

<%= link_to 'Back', chinese_words_path %>
