<h1>Search results:</h1>

<%= render :partial => "chinese_words/word_table", :locals =>{:chinese_words => @chinese_words, :word_lists => @word_lists} %>

<br />

<%= link_to 'New search', search_form_path %>
