<h1>Yuyan language learning</h1>

<p>
<%= link_to "Chinese Words", chinese_words_path %>
</p>
<p>
<%= link_to "Words", words_path %>
</p>
<p>
<%= link_to "Search", search_form_path %>
</p>
<p>
<%= link_to "Word Lists", word_lists_path %>
</p>

<p>Let's get started</p>
